---
import SqlServer from './icons/SqlServer.astro'
import Photoshop from './icons/Photoshop.astro'
import Tailwind from './icons/Tailwind.astro'

const TAGS = {
    PHOTOSHOP: {
        name: "Photoshop",
        class: 'bg-black text-white',
        icon: Photoshop,
    },
    ILLUSTRATOR: {
        name: 'Illustrator',
        class: 'bg-black text-white',
        icon: "",
    },
    INDESIGN: {
        name: 'InDesign',
        class: 'bg-black text-white',
        icon: "",
    },
    SQL: {
        name: 'SQL',
        class: 'bg-black text-white',
        icon: SqlServer,
    },
    HTML: {
        name: 'HTML',
        class: 'bg-black text-white',
    },
    CSS: {
        name: 'CSS',
        class: 'bg-black text-white',
    },
    JAVASCRIPT: {
        name: 'JavaScript',
        class: 'bg-black text-white',
    },
}
const projects = [
    {
        title: 'Poster Mob Psycho 100',
        description: 'Poster para el anime Mob Psycho 100',
        image: '/src/assets/projects/mob.png',
        link: 'https://www.google.com',
        tags: [TAGS.PHOTOSHOP],
        github: 'https://github.com/gitcjavier/proyecto1'
    }
]
---
{
    projects.map(({image , title , description , tags}) => (
        <article>
            <h3 class="text-2xl font-semibold text-amber-100 mb-2">{title}</h3>
            <p class="text-lg mb-4 text-pretty">{description}</p>
            <ul class="flex gap-x-2 mb-4 flex-row">
                {tags.map((tag) => (
                    <li>
                        <span class={`flex gap-x-2 rounded-full text-xs bg-white/10 items-center ${tag.class} py-1 px-2`}>
                            <tag.icon class="size-6" />
                            {tag.name}
                        </span>
                    </li>
                ))}
            </ul>
            <img class="rounded-lg shadow-2xl shadow-white/10" 
            src={image} 
            alt={`Captura de pantalla del proyecto ${title}`} />
        </article>
    ))
}